<main class="container-fluid">
    <section class="row">

        <app-list class="col-md-4 col-lg-3"></app-list>
        <app-note class="col-md d-none d-md-block"></app-note>
        <app-case-sidebar class="col-md-3 d-none d-lg-block "></app-case-sidebar>

    </section>
</main>
