<div class="content  d-flex  flex-column flex-md-row">

    <main class="main">

        <main class="container">

            <section class="row align-items-center">

                <article class="col-md">
                    <h1>Import N.I.C.E. Cases</h1>
                </article>

                <!-- <article class="col-12 col-md ml-auto">
					<input type="text" placeholder="Search" style="width: 100%;">
				</article> -->

            </section>

            <section class="row">
                <article class="col">
                    <ul class="filter">
                        <li class=""><a routerLink="/suggested"> <span class="title">Show All</span></a></li>
                        <li class=""><a routerLink="/dashboard"><span class="title">Service Coordination</span></a></li>
                        <li class=""><a routerLink="/dashboard"><span class="title">Evaluations</span></a></li>
                        <li class="active"><a routerLink="/dashboard"><span class="title">Services</span></a></li>
                    </ul>
                </article>
            </section>

            <section class="row align-items-center py-3 mb-3">
                <article class="col d-flex align-items-center">
                    <span class="mdi mdi-history mr-2"></span>
                    <span class="font-italic"> Last import: <strong>Jul 9, 2020</strong> at <strong>4:39</strong> by
                        <strong>System</strong></span>
                </article>
                <article class="col-auto">
                    <button> Import Services from N.I.C.E.</button>
                </article>
            </section>

            <!-- Table -->
            <section class="row">
                <article class="col">

                    <div class="table-responsive border-radius">
                        <table class="table-striped">
                            <thead>
                                <tr>
                                    <th>EEID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Service Type</th>
                                    <th>Date Retrieved</th>
                                    <th>Retrieved By</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a routerLink="/case" class="text-bold">
                                        61514
                                        
                                        </a></td>
                                    <td>Jace Jonathan</td>
                                    <td>Figueroa</td>
                                    <td>PT</td>
                                    <td>Jul 9, 2020 at 4:39</td>
                                    <td>System</td>
                                </tr>
                                <tr>
                                    <td><a routerLink="/case">61514</a></td>
                                    <td>Aaliyah</td>
                                    <td>Sangarie</td>
                                    <td>OT</td>
                                    <td>Jul 9, 2020 at 4:39</td>
                                    <td>System</td>
                                </tr>
                                <tr>
                                    <td><a routerLink="/case">00123</a></td>
                                    <td>Roy</td>
                                    <td>Bautista</td>
                                    <td>SLP</td>
                                    <td>Jul 9, 2020 at 4:39</td>
                                    <td>System</td>
                                </tr>
                                <tr>
                                    <td><a routerLink="/case">11114</a></td>
                                    <td>Mamadou</td>
                                    <td>Barry</td>
                                    <td>SLP</td>
                                    <td>Jul 9, 2020 at 4:39</td>
                                    <td>Janice Quiros (SC)</td>
                                </tr>
                                <tr>
                                    <td><a routerLink="/case">61514</a></td>
                                    <td>Jace Jonathan</td>
                                    <td>Figueroa</td>
                                    <td>PT</td>
                                    <td>Jul 9, 2020 at 4:39</td>
                                    <td>System</td>
                                </tr>
                                <tr>
                                    <td><a routerLink="/case">61514</a></td>
                                    <td>Aaliyah</td>
                                    <td>Sangarie</td>
                                    <td>OT</td>
                                    <td>Jul 9, 2020 at 4:39</td>
                                    <td>System</td>
                                </tr>
                                <tr>
                                    <td><a routerLink="/case">00123</a></td>
                                    <td>Roy</td>
                                    <td>Bautista</td>
                                    <td>SLP</td>
                                    <td>Jul 9, 2020 at 4:39</td>
                                    <td>System</td>
                                </tr>
                                <tr>
                                    <td><a routerLink="/case">11114</a></td>
                                    <td>Mamadou</td>
                                    <td>Barry</td>
                                    <td>SLP</td>
                                    <td>Jul 9, 2020 at 4:39</td>
                                    <td>Janice Quiros (SC)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </article>
            </section>

        </main>
    </main>

    <aside class="sidebar">
        <main class="container">



            <section class="row">

                <article class="col-md">
                    <div class="card">
                        <h4 class="mb-3">Import History</h4>
                        <ul class="timeline">
                            <li>Jul 5, 2020 at 4:30 <span class="details"> System added 130 entries </span> </li>
                            <li>Jul 5, 2020 at 3:30 <span class="details"> System added 15 entries </span> </li>
                            <li>Jul 5, 2020 at 2:30 <span class="details"> System added 3 entries </span> </li>
                            <li>Jul 5, 2020 at 2:17 <span class="details"> Amiel Garra (SC) added 200 entries </span>
                            </li>
                            <li>Jul 5, 2020 at 1:30 <span class="details"> System added 0 entries </span> </li>
                        </ul>
                    </div>
                </article>


            </section>

        </main>
    </aside>

</div>