

<section class="row">
    <article class="col">
        <div class="card child-info">
            <h3 class="name">Tyler Smith</h3>
            <p class="eeid">82200113315</p>
            <p class="dob"> 25 Aug 2018</p>
            <p class="gender">Male</p>
            <p class="address">125 Canary Ave, District 5</p>
            <p class="guardians">Martin Smith & Elena Diaz</p>
            <p class="diagnosis">P07.02 / F80.2 / P07.02 / F80.2 </p>
        </div>
    </article>
</section>

<section class="row">
    <article class="col">
        <div class="card history">
            <h4 class="name">EI Forms Package</h4>
            <p class="eeid">Download</p>
        </div>
    </article>
</section>

<section class="row">
    <article class="col">
        <div class="card history">
            <h4 class="name">Previous Notes</h4>
            <p class="eeid">Edited date</p>
        </div>
    </article>
</section>
