<article class="col">
	<ul class="filter">
		<li class="">
			<a routerLinkActive="active-link" routerLink="/suggested">
				<span class="title">Suggested</span></a>
		</li>
		<li>
			<a class="warning">
				<span class="title">Aging Out</span>
				<span class="number">1</span>
			</a>
		</li>
		<li>
			<a class="warning">
				<span class="title">Urgent</span>
				<span class="number">2</span>
			</a>
		</li>
		<li class="">
			<a>
				<span class="title">To Do</span>
				<span class="number">2</span>
			</a>
		</li>
		<li class="">
			<a>
				<span class="title">New</span>
				<span class="number">1</span>
			</a>
		</li>
		<li class="active">
			<a routerLinkActive="active-link" routerLink="/dashboard">
				<span class="title">View All</span>
				<span class="number">5</span>
			</a>
		</li>
	</ul>
</article>