<!-- Return to Dashboard -->
<section class="row align-items-center ">
    <article class="col ">
        <a routerLink="/dashboard" class="d-flex align-items-center">
            <span class="material-icons">
                arrow_back
            </span>
            <span class="ml-2"> Return to Dashboard</span>
        </a>
    </article>

</section>

<!-- Search -->
<section class="row align-items-center ">
    <article class="col ">
        <em>Add search here</em>
    </article>
</section>

<!-- List -->
<section class="row align-items-center stage">
    <article class="col ">
        ISC — Pre-Evaluation
    </article>
</section>

<section class="row align-items-center task done">
    <article class="col-auto pr-0">
        <span class="mdi mdi-checkbox-marked-outline"></span>

    </article>
    <article class="col ">
        Initial phone call
    </article>
</section>
<section class="row align-items-center task done">
    <article class="col-auto pr-0">
        <span class="mdi mdi-checkbox-marked-outline"></span>
    </article>
    <article class="col ">
        Initial phone call
    </article>
</section>

<section class="row align-items-center task done comment ">
    <article class="col-auto pr-0">
        <span class="mdi mdi-note-outline"></span>
    </article>
    <article class="col ">
        <p class="title">Parent inquired about insurance options</p>
        <p class="details">Parent inquired about insurance options</p>
    </article>
</section>

<section class="row align-items-center task done comment ">
    <article class="col-auto pr-0">
        <span class="mdi mdi-text-box-plus-outline"></span>
    </article>
    <article class="col ">
        <p class="title">Custom note</p>
        <p class="details"> Parent clarified required documents</p>
    </article>
</section>
<section class="row align-items-center task done comment ">
    <article class="col-auto pr-0">
        <span class="mdi mdi-note-text-outline"></span>
    </article>
   
    <article class="col ">
        <p class="title">Note</p>
        <p class="details"> Parent clarified required documents</p>
    </article>
</section>

<section class="row align-items-center task ">
    <article class="col-auto pr-0">
        <span class="mdi mdi-checkbox-blank-outline"></span>
    </article>
    <article class="col ">
        Initial home visit
    </article>
</section>

<section class="row align-items-center stage">
    <article class="col ">
        ISC — Evaluation and Eligibility Determination
    </article>
</section>

<section class="row align-items-center task">
    <article class="col-auto pr-0 ">
        <span class="mdi mdi-checkbox-blank-outline"></span>
    </article>
    <article class="col ">
        Evaluation site referral
    </article>
</section>

<section class="row align-items-center active task">
    <article class="col-auto pr-0 ">
        <span class="mdi mdi-checkbox-blank-outline"></span>
    </article>
    <article class="col ">
        Confirm Evaluation site with Parent
    </article>
</section>

<section class="row align-items-center task  warning">

    <article class="col-auto pr-0 ">
        <span class="mdi mdi-alert-outline"></span>
    </article>


    <article class="col ">
        <p class="title">SC Weekly Evaluation Updates</p>
        <p class="details">Must be done within 30 days</p>
    </article>
</section>
<section class="row align-items-center task  ">

    <article class="col-auto pr-0 ">
        <span class="mdi mdi-checkbox-blank-outline"></span>
    </article>
    <article class="col ">
        <p class="title">Overview w/ parent</p>
    </article>
</section>