<div class="content  d-flex  flex-column flex-md-row">

	<main class="main">

		<main class="container">

			<section class="row align-items-center">

				<article class="col-md-5">
				<!-- 	<p>Hi Janice!</p> -->
					<h1>My Cases</h1>
				</article>

				<!-- <article class="col-12 col-md ml-auto">
					
					<input type="text" placeholder="Search" style="width: 100%;">
				</article> -->

			</section>

			<app-filter class="row align-items-center"></app-filter>

			<section class="row row-eq-height mt-3 suggested">

				<article class="col-md-6 col-xl-4">
					<div class="card warning">
						<a routerLink="/case">
							<div class="name"><strong>Initial phone call for Dennis Santos </strong></div>
							<p><small>10 quality points</small></p>
							<p class="note">Needs to be done in a 3 days</p>
						</a>
					</div>
				</article>

				<article class="col-md-6 col-xl-4">
					<div class="card warning">
						<div class="name"><strong>Initial phone call for Chiara Lim </strong></div>
						<p><small>10 quality points</small></p>
						<p class="note">8 failed attempts</p>
					</div>
				</article>
				<article class="col-md-6 col-xl-4">
					<div class="card warning">
						<div class="name"><strong>Report this case to TA</strong></div>
						<!-- <p><small>10 quality points</small></p> -->
						<p class="note">15 failed attempts</p>
					</div>
				</article>

				<article class="col-md-6 col-xl-4">
					<div class="card ">
						<div class="name"><strong>Follow up documents for Evan Ramirez</strong></div>
						<p><small>5 quality points</small></p>
					</div>
				</article>

				<article class="col-md-6 col-xl-4">
					<div class="card ">
						<div class="name"><strong>Follow up documents for Marshall Collins</strong></div>
						<p><small>5 quality points</small></p>
					</div>
				</article>


				<article class="col-md-6 col-xl-4">
					<div class="card ">
						<div class="name"><strong>Follow up documents for Danille Kobayashi</strong></div>
						<p><small>5 quality points</small></p>
					</div>
				</article>






			</section>

		</main>
	</main>

	<aside class="sidebar">
		<main class="container">

			<section class="row">
				<article class="col">
					<div class="card done">
						<h3>My Quality Rating</h3>
						<div>
							<span class="mdi mdi-star "></span>
							<span class="mdi mdi-star "></span>
							<span class="mdi mdi-star "></span>
							<span class="mdi mdi-star "></span>

						</div>
						<p><a href="#">Learn more</a></p>

					</div>
				</article>
			</section>

			<section class="row">
				<article class="col">
					<p>Current Quarter</p>
					<h3>Jan - Mar 2020</h3>
				</article>
			</section>

			<section class="row">
				<article class="col">
					<div class="card">
						<h2>477 of 900</h2>
						<p>Units completed this quarter</p>
					</div>
				</article>
			</section>

			<section class="row">
				<article class="col">
					<p>This Week</p>
					<h3>June 8 - 14</h3>
					<p class="d-flex align-items-center">
						<span class="mdi mdi-toggle-switch mr-1"></span>
						<small><em>Show verified only</em></small>
					</p>
				</article>
			</section>

			<section class="row">

				<article class="col-6">
					<div class="card">
						<h2>5</h2>
						<p>Cases done on today</p>
					</div>
				</article>

				<article class="col-6">
					<div class="card">
						<h2>30</h2>
						<p>Units done this week</p>
					</div>
				</article>

			</section>

		</main>
	</aside>

</div>