<main class="wrapper d-flex flex-column flex-md-row">

	<nav>

		<a class="active-link mb-3">
			<img src="https://res.cloudinary.com/abbi/image/upload/e_trim/f_auto,q_auto/h_64,w_64,c_pad/eis/logo.png" class="logo" />
		</a>

		<a routerLink="/dashboard" routerLinkActive="active-link">
			<svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<rect x="1" y="1" width="18" height="8" rx="4" stroke="white" stroke-width="2" />
				<circle cx="5" cy="5" r="2" fill="white" />
				<rect x="1" y="13" width="18" height="8" rx="4" stroke="white" stroke-width="2" />
				<circle cx="5" cy="17" r="2" fill="white" />
			</svg>
		</a>

		<a routerLink="/importnyeis"  routerLinkActive="active-link">
			<span class="mdi mdi-cloud-download-outline"></span>
		</a>

		<!-- <a routerLink="/dashboard">			
			<span class="mdi mdi-account-circle-outline"></span>
		</a>

		<a routerLink="/dashboard">
			<span class="mdi mdi-cog-outline"></span>
		</a> -->

	</nav>

	<router-outlet></router-outlet>

</main>