<div class="content  d-flex  flex-column flex-md-row">

	<main class="main">

		<main class="container">

			<section class="row align-items-center">

				<article class="col-md-5">
					<!-- <p>Hi Janice!</p> -->
					<h1>My Cases</h1>
				</article>

				<!-- <article class="col-12 col-md ml-auto">
					
					<input type="text" placeholder="Search" style="width: 100%;">
				</article> -->

			</section>

			<app-filter class="row align-items-center"></app-filter>


			<!-- Table -->
			<section class="row">
				<article class="col">

					<div class="table-responsive">

						<table class="table-card">
							<thead>
								<tr>
									<th>Name</th>
									<th>Date of Birth</th>
									<th>End Date</th>
									<th>Last Activity</th>
									<th>Units Remaining</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<a routerLink="/case">
											<span class="name">Tyler Smith</span>
											<span class="eeid">82200113315</span>
										</a>
									</td>
									<td>Aug 5, 2019</td>
									<td>Aug 5, 2021</td>
									<td><span class="">May 26, 2020</span>
										<span class="eeid">Initial home visit</span>
									</td>
									<td>300</td>
								</tr>
								<tr>
									<td>
										<span class="name">Diana Chan</span>
										<span class="eeid">73300113315</span>
									</td>
									<td>Sep 5, 2019</td>
									<td>Sep 5, 2021</td>
									<td>Jun 3, 2020</td>
									<td>300</td>
								</tr>
								<tr>
									<td>
										<span class="name">Marcus Philipps</span>
										<span class="eeid">73300113315</span>
									</td>
									<td>Aug 5, 2019</td>
									<td>Aug 5, 2021</td>
									<td>May 26, 2020</td>
									<td>300</td>
								</tr>
							</tbody>
						</table>
					</div>

				</article>
			</section>

		</main>
	</main>

	<aside class="sidebar">
		<main class="container">

			<section class="row">
				<article class="col">
					<div class="card done">
						<h3>My Quality Rating</h3>
						<div>
						<span class="mdi mdi-star "></span>
						<span class="mdi mdi-star "></span>
						<span class="mdi mdi-star "></span>
						<span class="mdi mdi-star "></span>
						
					</div>
					<p><a href="#">Learn more</a></p>

					</div>
				</article>
			</section>

			<section class="row">
				<article class="col">
					<p>Current Quarter</p>
					<h3>Jan - Mar 2020</h3>
				</article>
			</section>

			<section class="row">
				<article class="col">
					<div class="card">
						<h2>477 of 900</h2>
						<p>Units completed this quarter</p>
					</div>
				</article>
			</section>

			<section class="row">
				<article class="col">
					<p>This Week</p>
					<h3>June 8 - 14</h3>
					<p class="d-flex align-items-center">
						<span class="mdi mdi-toggle-switch mr-1"></span>
						<small><em>Show verified only</em></small>
					</p>
				</article>
			</section>

			<section class="row">

				<article class="col-6">
					<div class="card">
						<h2>5</h2>
						<p>Cases done on today</p>
					</div>
				</article>

				<article class="col-6">
					<div class="card">
						<h2>30</h2>
						<p>Units done this week</p>
					</div>
				</article>

			</section>

		</main>
	</aside>

</div>