<div class="card note">

    <!-- Note Title -->
    <section class="row align-items-center">

        <article class="col ">
            <h3>Initial Home Visit</h3>
        </article>
        <article class="col-auto ">
            <small>Billing range: 95 - 105 min</small>
        </article>
    </section>

    <!-- Time Entry -->
    <section class="row">

        <article class="col-md-5 d-block">
            <label>Date of Visit</label>
            <input>
        </article>
        <article class="col-md-5 d-block">
            <label>Time</label>
            <input>
        </article>
        <article class="col-md-2 d-block">
            <label>Duration</label>
            <input>
        </article>

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> Billable </div>
        </article>
    </section>

    <!-- Parental rights and involvement discussion -->
    <section class="row">
        <article class="col-12">
            <h4>Parental rights and involvement discussion</h4>
        </article>
    </section>

    <section class="row">

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC discussed with parent the role of ISC in detail during the initial stage in EIP in order to help family
                understand the assistance and advocacy sc will provide while child is being evaluated to determine
                eligibility for program. </div>
        </article>

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC provided the parent/guardian with an explanation of the role of the service
                coordinator that the service coordinator is the central point of contact between all participants in the program and that the ISC is responsible for facilitating family with evaluations, arranging an IFSP if child
                is found eligible and assist in resolving any issues during the course of the MDE through the Initial IFSP
                meeting or closure process. </div>
        </article>

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC also reviewed with parent in detail the role of OSC if child is
                recommended to receive services and family moves forward to individualized family service plan.
                It was
                emphasized that the program is family-centered designed to enhance the capacities of families to meet
                their child’s needs, with services provided in the natural environment. </div>
        </article>

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC explained that Early
                Intervention provides them the following rights and entitlements:
                <ol>
                    <li> EIP participation is voluntary, </li>
                    <li> at no
                        cost to the family, </li>
                    <li> use of Medicaid and/or other third party insurance for payment of services is required
                        under EIP and, </li>
                    <li>parents are entitled to due process and confidentiality. </li>
                </ol>
            </div>
        </article>

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC discussed parent/guardian’s
                concerns to the Early Intervention process and that they have a right to choose evaluators, initial service
                coordinator or ongoing service coordinator (if child is eligible after MDE). </div>
        </article>

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description">Parent/Guardian was made
                aware that federal guidelines require evaluations be completed within 30 days and an IFSP convened in
                45 days of referral to EI. </div>
        </article>

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description">SC informed Parent/Guardian that it is crucial that parent/guardian make
                themselves available in the next several days and weeks for scheduling and to expect and respond
                promptly to calls and messages from different members of the MDE team.
            </div>
        </article>

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description">Parent was made aware of the following:
                <ol>
                    <li> The Early Intervention Program: A Parent’s Guide as it was
                        given to and reviewed in detail with the parent/guardian. SC reviewed the Parents guide with family in
                        detail and answered all of family’s questions regarding EIP </li>
                    <li> Parents/ Guardian was informed of and
                        given a written right to access to records form. Parents were informed they are allowed to make any
                        changes as needed via contacting Oliver Trinidad (Director of Ability Builders for Children, LLC). </li>
                    <li>
                        Parent/Guardian were informed and explained in detail of their due process rights and right for mediation.</li>
                </ol>
            </div>
        </article>

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description">ISC explained that the parent is able to utilize their rights if not in agreement or if for any reason changes
                cannot be made to records.
            </div>
        </article>

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description">ISC also discussed with the parent/guardian the right to choose an OSC at
                the Initial IFSP meeting pending results from the evaluations.

            </div>
        </article>

    </section>


    <!-- NYS Public Health and Insurance Laws -->

    <section class="row">
        <article class="col-12">
            <h4>NYS Public Health and Insurance Laws</h4>
        </article>
    </section>

    <section class="row">

        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> ISC explained to parent/guardian of the NYS Public Health and Insurance Laws. </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC explained that EIP
                services must be provided at no cost to parents. Commercial insurance and Medicaid are part of the NYS
                system of payments for EI services. </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC explained that EIP providers are required to first bill commercial insurance and
                medication and obtain subrogation notice. </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC explained to parent that SC is responsible for informing the
                EI providers about the child’s insurance coverage. </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC explained that Providers will receive payment from
                Municipal funds for services that are partially reimbursed or denied by the insurer. </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC explained that the
                Medicaid program covers all EIP services and that providers are prohibited from seeking payment for EI
                services from the parent. </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC explained that all EIP services including service coordination, evaluations
                and services included in the IFSP must be provided regardless of child’s insurance status. </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC explained
                to parent that if child is uninsured, SC is responsible for assisting parent in identifying and applying for
                benefit programs which family may be eligible however the parent is not required to enroll in order for EI
                service to be provided. </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC explained to parent that parents do not pay any out-of-pocket costs, such as
                copayments for EI. </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC explained that insurers are prohibited from charging EI services against any maximum or annual lifetime policy limits – caps. </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC explained that EI visits reimbursed by the insurer
                cannot reduce the number of visits available to the child and family for health care and insurers cannot
                discontinue or fail to renew a family’s insurance solely because a child is receiving EI Services, nor can
                insurers increase health insurance premiums solely because a child is receiving EIP services.
            </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC
                explained that if a family’s insurance plan is not regulated by NYS the plan will not be billed unless the
                parent gives written consent. SC informed parent/guardian that if a family’s insurance is not regulated by NYS, their insurance benefits might not be protected if billed for EIP services.
            </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC explained that in this
                case the insurance can only be used if the family so chooses to give written consent. </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC explained that
                updated insurance information will be requested from family every 6 months or as needed.
            </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> Sc explained
                to parent/guardian that if a family changes insurance plans or has new coverage, or if it is discovered that
                the family’s plan is not regulated under NYS insurance Law, Parents will be provided with written
                information on protections in place regarding benefits available under the policy, plan or benefit
                package.
            </div>
        </article>
        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-blank-outline"></span>
            <div class="description"> SC explained that SC will need to determined if the family’s insurance plan is regulated by NYS
                insurance law once Parent provides SC with insurance information. Sc explained that self-insurance/selffunded plans are not regulated by NYS Insurance law.
            </div>
        </article>

    </section>



    <!--Parent/guardian completed and signed the following documents: -->

    <section class="row">
        <article class="col-12">
            <h4>Parent/guardian completed and signed the following documents:</h4>
        </article>
    </section>

    <section class="row">

        <article class="col-md-6">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> <a href="#"> AUTHORIZATION TO RELEASE
                    HEALTH INSURANCE </a></div>
        </article>
        <article class="col-md-6">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> <a href="#">CHILD INSURANCE FORM</a> </div>
        </article>
        <article class="col-md-6">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> <a href="#">COLLECTION OF INSURANCE INFORMATION
                    FORM </a></div>
        </article>


        <article class="col-md-6">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"><small class="d-block">Note: Show the form below if the Insurance is non-regulated</small>
                <a href="#">CONSENT TO BILL NON REGULATED</a> </div>
        </article>
        <article class="col-md-6">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> Parents expressed understanding of the NYS Public Health </div>
        </article>

    </section>




    <!--Parent Concerns/Family Resources/Family Involvement -->

    <section class="row">
        <article class="col-12">
            <h4>Parent Concerns/Family Resources/Family Involvement</h4>
        </article>
    </section>

    <section class="row">

        <article class="col-12 d-block">
            <label>Health and Diagnosis</label>
            <textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
        </article>

        <article class="col-12 d-block">
            <label>Adaptive Development</label>
            <textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
        </article>

        <article class="col-12 d-block">
            <label>Cognitive Development</label>
            <textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
        </article>

        <article class="col-12 d-block">
            <label>Communication</label>
            <textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
        </article>

        <article class="col-12 d-block">
            <label>Physical Development</label>
            <textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
        </article>


    </section>

    <!--Evaluation types to determine eligibility -->

    <section class="row">
        <article class="col-12">
            <h4>Evaluation types to determine eligibility</h4>
        </article>
    </section>

    <section class="row">

        <article class="col-md-6 col-lg-4 test">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> Adaptive </div>
        </article>

        <article class="col-md-6 col-lg-4 test">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> Cognitive </div>
        </article>

        <article class="col-md-6 col-lg-4 test">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> Communication </div>
        </article>

        <article class="col-md-6 col-lg-4 test">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> Social/Emotional </div>
        </article>

        <article class="col-md-6 col-lg-4 test">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> Physical </div>
        </article>


        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC explained to parent/guardian that these evaluations are subject to change based on the evaluators
                recommendations. </div>
        </article>

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> Parent/guardian expressed understanding of the evaluation recommendations. </div>
        </article>
        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description">
                <p>ISC
                    explained to parent/guardian that the evaluations are time sensitive.<br>ISC explained that the evaluations
                    are expected to be completed and submitted to EIP within 30 days.
                    <br> 
                    ISC emphasized the importance of
                    parent being available to participate for the Evaluations as soon as evaluators contact parent. </p>
            </div>
        </article>

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description">
                <p> Initial
                    Service Coordinator assisted the family in identifying the following Concerns, Priorities, Resources,
                    including non-mandated EI needs: ISC reviewed and discussed areas that family members could
                    possibly identify as needs, issues or problems they would want to address as part of the IFSP process.
                    This is APART from the concerns about the child that prompted the referral. </p>
            </div>
        </article>

    </section>





    <!--Other non-EI concerns-->

    <section class="row">
        <article class="col-12">
            <h4>Other non-EI concerns</h4>
        </article>
    </section>

    <section class="row">

        <article class="col-12 d-block">
            <!--     <label>Physical Development</label> -->
            <textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
        </article>

        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC discussed family’s agenda and choices for how EI will be involved
                in the family’s life. </div>
        </article>

        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC reviewed with parent the role that parent and family will play with EI in regards to working with service coordinator, evaluators, EI office and therapists working with family and child. </div>
        </article>

        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC discussed the family’s the strengths, abilities and
                formal and informal supports that can be mobilized to meet family concerns, needs or Outcomes.</div>
        </article>

        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC
                and parent/guardian discussed including people who are involved in the child’s care. </div>
        </article>

        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC and parent reviewed in detail family resources. </div>
        </article>

        <article class="col-md-6 test">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC and parent reviewed in detail family resources. </div>
        </article>

        <article class="col-md-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description">
                <p>Is the family receiving any non-EI Services?</p>
                <textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
            </div>
        </article>
        <article class="col-md-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description">
                <p>Is the family in need of any non-EI Services?</p>
                <textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
            </div>
        </article>



    </section>



    <!--Medical/Diagnoses Discussion:
-->

    <section class="row">
        <article class="col-12">
            <h4>Medical/Diagnoses Discussion:
            </h4>
        </article>
    </section>

    <section class="row">

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> SC explained that the Multidisciplinary Evaluation must include a review of the child’s health status. </div>
        </article>
        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC
                explained that EIP requests that the parent/guardian submit to the evaluation site a recent physical exam
                report completed by the child’s primary medical care provider. </div>
        </article>
        <article class="col-md-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description">
                <p>Child does not have a medical provider, ISC will take the following action:</p>
                <textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
            </div>
        </article>

    </section>




    <!--PCP Information -->

    <section class="row">
        <article class="col-12">
            <h4>PCP Information</h4>
        </article>
    </section>

    <section class="row">

        <article class="col-md-12 d-block">
            <label>PCP Name</label>
            <input>
        </article>
        <article class="col-md-12 d-block">
            <label>Address</label>
            <input>
        </article>
        <article class="col-md-12 d-block">
            <label>Phone number</label>
            <input>
        </article>
        <article class="col-md-12 d-block">
            <label>Fax number</label>
            <input>
        </article>

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> Is the Consent to release information to PCP obtained? </div>
        </article>
        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description">Parent/Guardian received a blank physical exam report form. </div>
        </article>
        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description">Parent/Guardian will need
                to forward form to child’s primary medical provider and make sure that the form is sent Service
                Coordinator. </div>
        </article>
        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> Parent was informed that a medical form completed by the child's doctor is needed to
                complete the MDE and that it would be in the best interest of her child if this is filled out ASAP. </div>
        </article>

        <article class="col-md-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description">
                <p>Child have an Existing Diagnosis/Special Medical Needs</p>
                <textarea>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
            </div>
        </article>
        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> ISC explained that in the interest of collaboration and to get more in-depth information on the
                child’s developmental status, the evaluation site might choose to communicate with the professional(s)
                mentioned above and parent/guardian would need to consent to allow communication with these
                professionals. </div>
        </article>

    </section>




    <!--Parent/guardian completed and signed the following documents: -->

    <section class="row">
        <article class="col-12">
            <h4>Parent/guardian completed and signed the following documents:</h4>
        </article>
    </section>

    <section class="row">

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> Lorem </div>
        </article>

    </section>




    <!--Parent/guardian completed and signed the following documents: -->

    <section class="row">
        <article class="col-12">
            <h4>Parent/guardian completed and signed the following documents:</h4>
        </article>
    </section>

    <section class="row">

        <article class="col-12">
            <span class="mdi mdi-checkbox-marked-outline"></span>
            <div class="description"> Lorem </div>
        </article>

    </section>













<div class="progress-bar"></div>




</div>