// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$abbi-layout-primary: mat-palette($mat-indigo);
$abbi-layout-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$abbi-layout-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$abbi-layout-theme: mat-light-theme($abbi-layout-primary, $abbi-layout-accent, $abbi-layout-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($abbi-layout-theme);

/* You can add global styles to this file, and also import other style files */

$base-unit: 16px;
$grid-gutter-width: $base-unit * 2 !default;
@import "~bootstrap/scss/bootstrap-grid";

$color-primary: #003884;
$color-secondary: #5dbc23;
$color-warning: #fcbf49;

$font-base: Inter var, Inter, serif;
$font-primary: Jost, $font-base;

$transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$border: 1px rgba(#003884, 0.125) solid;
$border-radius: 2.5rem;
$box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);

html,
body {
	height: 100%;
}

body {
	background: #e5e5e5;
	background: #eef2f7;
	//background: rgba($color-primary, 0.05);
	color: $color-primary;
	margin: 0;
	font: #{$base-unit}/ 1.125 $font-base;
	font-weight: 500;
}

a {
	color: inherit;
	text-decoration: none;
	transition: $transition;
	//	float: left;
	&:hover {
		//text-decoration: underline;
		//color: lighten($color-primary, 15%);
		//	opacity: 0.75;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0 0 1rem;
}

h1 {
	font-family: $font-primary;
	font-size: 2.5rem;
	font-weight: 400;
}
h2 {
	font-family: $font-primary;
	font-size: 2.25rem;
	font-weight: 500;
}

h3 {
	font-family: $font-primary;
	font-size: 1.25rem;
	font-weight: 500;
}
h4 {
	//font-family: Jost;
	font-size: 1rem;
	font-weight: bold;
}

.wrapper {
	nav {
		background: rgba($color-secondary, 0.975);
		color: #fff;
		//	padding: 1rem;
		position: fixed;
		width: 100vw;
		bottom: 0;
		z-index: 99999;
		display: flex;
		align-items: center;
		justify-content: space-around;

		@media (min-width: 768px) {
			background: rgba($color-secondary, 1);
			padding: 1rem;
			order: 0;
			position: relative;
			width: auto;
			flex-direction: column;
			justify-content: flex-start;
		}
		> * {
			padding: 1rem;
		}
		.logo {
			max-width: 32px;
		}
		a {
			opacity: 0.25;
			&.active-link {
			opacity: 1;
		}
	}
	}

	app-dashboard,
	app-suggested,
	app-case,
	import-nyeis {
		width: 100%;
	}
	.content {
		width: 100%;
		@media (min-width: 768px) {
			order: 2;
		}
		> * {
			box-sizing: border-box;
			padding-top: 2.5rem;
			padding-bottom: 2.5rem;
		}
		.main {
			@media (min-width: 768px) {
				min-height: 100vh;
				padding: 2.5rem;
			}
			flex: 1;
		}
		app-case-sidebar,
		.sidebar {
			width: 17.5rem;
			width: 20rem;
			border-left: 1px rgba(#003884, 0.125) solid;

			.row {
				margin-bottom: 1rem;
			}
		}
	}
}

app-case-sidebar {
	> .row {
		margin-bottom: 1rem;
	}
}
@import "./assets/styles/tables";
@import "./assets/styles/lists";

.card {
	background: #fff;
	border-radius: 25px;
	padding: 1.5rem;
	box-shadow: $box-shadow;
	height: 100%;
	margin-bottom: 1rem;
	> * {
		margin-bottom: 0.5rem;
		&:last-child {
			margin-bottom: 0;
		}
	}
	p {
		font-size: 85%;
	}
}

.suggested {
	> * {
		margin-bottom: 2rem;
	}
	.card {
		border-radius: 0;
		position: relative;
		padding: 1rem;

		&.warning {
			border-left: 0.25rem red solid;
			.name {
				padding-right: 1.5rem;
				&::after {
					display: block;
					content: "😭";
					position: absolute;
					right: 1rem;
					top: 1rem;
					font-size: 1.5rem;
				}
			}
			.note {
				color: red;
			}
		}
	}
}

.material-icons {
	vertical-align: middle;
}

app-case {
	.container,
	.container-fluid {
		> .row {
			> *:not(last-child) {
				border-right: $border;
				padding-top: 3rem;
				height: 100vh;
				overflow: auto;
			}

			$app-list-padding: 0.75rem;
			app-list {
				> .row {
					border-bottom: $border;
					padding-top: $app-list-padding;
					padding-bottom: $app-list-padding;
					transition: $transition;
					> * {
						> * {
							margin-bottom: 0.25rem;
							&:last-child {
								margin-bottom: 0;
							}
						}
					}
					&.stage {
						font-size: 75%;
						font-weight: bold;
						text-transform: uppercase;
						background: rgba($color-primary, 0.175);
						background: #fff;
						background: rgba($color-primary, 0.15);
					}
					&.task {
						//font-size: 0.9rem;
						font-weight: bold;
						background: rgba(#fff, 0.75);

						&.done {
							background: none;
							font-weight: normal;
							.mdi,
							.material-icons {
								color: $color-secondary;
							}
							&.comment {
								.mdi,
								.material-icons {
									color: inherit;
								}
							}
						}

						&.warning {
							.mdi,
							.material-icons {
								color: $color-warning;
							}
						}
						&:hover,
						&.active {
							background: $color-primary;
							color: #fff;
							cursor: pointer;
							border-bottom-color: #fff;
						}
					}
					.details {
						font-weight: normal;
						font-size: 75%;
					}
				}
			}
			app-case-sidebar {
				.child-info {
					p {
						font-size: 75%;
					}
				}
			}
		}
	}
}

.name {
	//font-weight: bold;
}

.mdi {
	font-size: 24px;
	font-weight: 400;
	font-weight: normal;
}

input {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	border: 2px $color-primary solid;
	padding: 0.5rem 1rem;
	border-radius: 21px;
	box-shadow: $box-shadow;
	outline: none;
}

ul.filter {
	list-style: none;
	padding: 0;
	display: flex;
	//justify-content: space-evenly;
	border-bottom: $border;
	li a {
	display: block;
		padding: 1rem 0;
		margin: 0 1rem 0;
		position: relative;
		opacity: calc(2 / 8);
		cursor: pointer;
		&:after {
			content: "";
			display: block;
			//width: 75%;
			height: 0;
			//min-width: 2rem;
			//background: $color-secondary;
			background: none;
			position: absolute;
			bottom: 0;
			left: 0.25rem;
			right: 0.25rem;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			transition: $transition;
		}
		&.active-link,
		&:hover {
			opacity: 1;
			&:after {
				background: $color-primary;
				background: $color-secondary;
				height: 3px;
			}
		}
		&.warning {
			padding-left: 20px;
			&::before {
				content: "";
				display: block;
				background: red;
				position: absolute;
				margin: 0 7px;
				width: 6px;
				height: 6px;
				border-radius: 50%;

				left: 0;
				top: 50%;
				transform: translateY(-50%);
				//box-sizing: border-box;
			}
		}
		.title {
			font-weight: bold;
			margin-right: 0.5rem;
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.note {
	//overflow: hidden;
	height: auto;
	.row > * {
		display: flex;
		font-size: 0.75rem;
		font-size: 0.8rem;
		line-height: 1.375;
		line-height: 1.5;

		margin-bottom: 0.5rem;
		> * {
			margin-bottom: 0.5rem;
			&:last-child {
				margin-bottom: 0;
			}
		}
		ol,
		ul {
			margin: 0;
			padding: 0 0 0 1rem;
			padding: 0 0 0 1.5rem;
		}
	}

	.mdi {
		margin-right: 1rem;
		margin-right: 0.5rem;
	}
	.mdi-checkbox-marked-outline {
		color: $color-secondary;
	}
	.mdi-checkbox-blank-outline {
		color: $color-primary;
	}
	h4,
	h5 {
		margin-top: 1rem;
	}
	.description {
		margin-top: 0.25rem;
		margin-top: 0.5rem;
		flex-grow: 1;
	}
	a {
		//text-decoration: underline;
		border-bottom: 1px $color-secondary dashed;
		padding-bottom: 0.125rem;
		padding-bottom: 0.075rem;
		&:hover {
			border-bottom-style: solid;
		}
	}

	label {
		display: block;
		margin-bottom: 0.25rem;
	}
	input,
	textarea {
		width: 100%;

		font-family: inherit;
		color: inherit;
		background: rgba($color-primary, 0.075);
		padding: 0.5rem;
		border: none;
		border-radius: 0;
		border-bottom: 2px $color-primary solid;
		box-shadow: none;
	}
	textarea {
		min-height: 5rem;
	}
	p {
		font-size: 100%;
	}

	.progress-bar {
	}
}

button {
	border: none;
	background: $color-secondary;
	color: #fff;

	font: 1rem/1 $font-primary;
	font-weight: 700;
	font-weight: 600;
	padding: 0.75rem 1rem;
	border-radius: 5px;
}

.font-italic {
	font-style: italic;
}
