ul,
ol {
    &.timeline {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 1.25;
        li {
            margin-bottom: 0.75rem;
            .details {
                display: block;
                font-size: 85%;
            }
        }
    }
}
