$table-padding-extra: 2rem;

.table-responsive {
    overflow-x: auto;

    &.border-radius {
        border-radius: 9px;
        border-radius: $border-radius;
    }
}

table {
    //font-variant-numeric: tabular-nums slashed-zero;
    //font-variant-numeric: tabular-nums;
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    //  box-shadow:  0px 16px 32px rgba($color-primary, 0.5);

    th,
    td {
        text-align: left;
        padding: 0.75rem 0.5rem;
        padding: 1rem 0.5rem;
        $table-padding-end: 2rem;
        //letter-spacing: -1px;
        &:first-child {
            padding-left: $table-padding-extra;
        }

        &:last-child {
            padding-right: $table-padding-extra;
        }
    }
    thead {
        font-size: 75%;
        font-size: 0.75rem;
        font-size: 6/8rem;

        @media (max-width: 767px) {
            display: none;
        }
        tr {
            th {
                border-bottom: 2px rgba($color-primary, 0.125) solid;
            }
            &:first-child {
                th {
                    padding-top: 1.5rem;
                    padding-top: 1.25rem;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                font-size: 0.95rem;
                font-weight: 500;
            }
            &:last-child {
                td {
                    padding-bottom: 1.5rem;
                    padding-bottom: 1.25rem;
                }
            }
        }
    }
    .name {
        display: block;
        font-weight: bold;
     
    }

    .eeid {
        font-size: 75%;
        font-weight: 600;
        display: block;
    }
}

table {
    &.table-striped {
        tbody {
            tr {
                &:nth-of-type(odd) {
                    background-color: rgba($color-primary, 0.03);
                    background-color: rgba($color-primary, 0.025);
                }
            }
        }
    }

    &.table-card {
        background: none;
        border-collapse: separate;
        border-spacing:0 20px;
        thead {
            tr {
                th {
                    border: none;
                }
            }
        }

        tbody {
            position: relative;
            tr {
              
                
              /*  &::after {
                    content: "";
                    background: transparent;
                    position: absolute;
                  box-shadow: $box-shadow;
                  border-radius: $border-radius;
                   left: 0; right: 0;
                   height: 2rem;
                  
                } */
                
                td {
                    background:#fff;
             
                    

                    &:first-child {
                        //margin-left: 2rem;
                        border-top-left-radius: $border-radius;
                        border-bottom-left-radius: $border-radius;
                    }
                    &:last-child {
                        border-top-right-radius: $border-radius;
                        border-bottom-right-radius: $border-radius;
                    }
                }
            }
        }
     
    }
}
